go 1.22.2

use (
	./1002_find_common_characters
	./1051_height_checker
	./1122_relative_sort_array
	./121_best_time_to_sell_stock
	./122_best_time_to_buy_stocks_2
	./1255_max_score_words_formed_by_letters
	./13_roman_to_int
	./1482_minimum_number_of_days_to_make_m_bouquets
	./165_compare_version_numbers
	./169_majority_element
	./189_rotate_array
	./1971_find_if_path_exists_in_graph
	./1992_find_all_groups_of_farmland
	./1_two_sum
	./2000_reverse_prefix_of_word
	./200_number_of_islands
	./2037_min_number_of_moves_to_seat_everyone
	./205_isomorphic_string
	./2441_largest_positive_integer_that_exists_with_its_negative
	./2486_append_char_to_string_to_make_subseq
	./260_single_number_iii
	./26_remove_dupes_from_sorted_array
	./27_remove_element
	./2816_double_a_number_rep_as_linklist
	./3075_maximize_happiness_of_selected_children
	./3110_score_of_a_string
	./330_patching_array
	./344_reverse_string
	./409_longest_palindrome
	./463_island_perimeter
	./502_IPO
	./506_relative_ranks
	./523_continous_subarray_sum
	./58_lenth_of_last_word
	./633_sum_of_square_numbers
	./648_replace_words
	./752_open_the_lock
	./80_remove_dupes_from_sorted_array_2
	./826_most_profit_assigning_work
	./846_hand_of_straights
	./881_boats_to_save_people
	./88_merge_sorted_array
	./945_minimum_increment_to_make_array_unique
	./974_subarray_sums_divisible_by_k
	./lps
	./myAtoi
	./palinNumber
	./regexMatch
	./reverseInt
	./zigzagConv
)
