go 1.22.2

use (
	./121_best_time_to_sell_stock
	./122_best_time_to_buy_stocks_2
	./13_roman_to_int
	./169_majority_element
	./189_rotate_array
	./1971_find_if_path_exists_in_graph
	./1992_find_all_groups_of_farmland
	./1_two_sum
	./200_number_of_islands
	./205_isomorphic_string
	./26_remove_dupes_from_sorted_array
	./27_remove_element
	./463_island_perimeter
	./58_lenth_of_last_word
	./752_open_the_lock
	./80_remove_dupes_from_sorted_array_2
	./88_merge_sorted_array
	./lps
	./myAtoi
	./palinNumber
	./regexMatch
	./reverseInt
	./zigzagConv
)
